# Игнорировать кеш Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Игнорировать виртуальное окружение
venv/
env/

# Игнорировать базу данных SQLite (если используете)
db.sqlite3

# Игнорировать файлы настроек среды (если есть .env)
.env
.env.local
